html {
	font-size: 118.75%;
	background-color: hsl(0, 100%, 100%);
}

body {
	font-family: georgia, serif;
	max-width: 40em;
	line-height: 1.6;
	margin: 0 auto;
	padding: 1px 1em;
	display: block;
	color: hsl(0, 0%, 33%);
	background-color: hsl(9, 100%, 99%);
}
@media (min-width: 35em) {
	body {
		padding-left: 2em;
		padding-right: 2em;
	}
}
@media (min-width: 45em) {
	body {
		padding-left: 3em;
		padding-right: 3em;
	}
}
p {
	margin: 0;
}

p + p {
	text-indent: 1em;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: hsl(0, 82%, 48%) 1px solid;
	transition: color 0.3s;
}

a:hover,
a:focus,
a:active {
	color: hsl(0, 82%, 48%);
}

:focus {
	outline-color: hsl(0, 0%, 0%);
	outline-width: 2px;
}

.pageHeader {
	position: relative;
	padding: 5em 0;
	border-top: 3px double hsl(0, 0%, 20%);
	border-bottom: 3px double hsl(0, 0%, 20%);
	max-width: 18em;
	margin: 9em auto;
}

.pageFooter {
	position: relative;
	padding: 5em 0 0 0;
	border-top: 3px double hsl(0, 0%, 20%);
	max-width: 18em;
	margin: 6em auto;
}

.pageFooter::before,
.pageHeader::before,
.pageHeader::after {
	position: absolute;
	content: "❧";
	left: 50%;
	margin-left: -0.5em;
	font-size: 2em;
	text-align: center;
	width: 1em;
	background: hsl(9, 100%, 99%);
	color: hsl(0, 82%, 48%);
	line-height: 0.7;
	margin-bottom: -0.36em;
}

.pageFooter::before,
.pageHeader::before {
	top: 0;
	margin-top: -0.4em;
	transform: scaleX(-1);
}

.pageHeader::after {
	bottom: 0;
	margin-bottom: -0.36em;
}

.pageFooter-text {
	font-size: 0.8em;
	text-align: center;
	font-style: italic;
}


.pageTitle,
.sectionTitle,
.subsectionTitle {
	line-height: 1.2;
	text-align: center;
	color: hsl(0, 0%, 20%);
}

.pageTitle {
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-align: center;
	font-weight: normal;
	margin: 0;
	color: black;
}

.sectionTitle {
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: normal;
	color: hsl(0, 82%, 48%);
	margin: 4em 0 2em 0;
}

.subsectionTitle {
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	color: black;
}

.payoff {
	font-family: georgia, serif;
	font-style: italic;
	font-size: 0.8em;
	text-align: center;
	color: hsl(0, 82%, 48%);
	margin: 0.5em 0 0 0;
}

.buttons {
	display: flex;
	justify-content: space-between;
	margin: 1.6em auto;
	max-width: 9em;
	flex-wrap: wrap;
}

.buttons--spacious {
	margin: 1.6em auto 3.2em auto;
	max-width: 20em;
}

button {
	font-size: 0.65em;
	font-family: georgia, serif;

	color: white;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	color: hsl(0, 82%, 48%);
	margin: 0 auto;

	border: none;
	background: none;
	cursor: pointer;
}

button::after {
	content: "➸";
	margin-left: 0.3em;
	display: inline-block;
	transition: transform 0.1s;
}

button:hover::after,
button:focus::after {
	transform: translateX(3px);
}

.section + .section {
	position: relative;
	border-top: 1px solid hsl(0, 0%, 20%);
	margin-top: 3.2em;
}


.section + .section::before {
	position: absolute;
	content: "❡";
	left: 50%;
	margin-left: -0.5em;
	font-size: 0.6em;
	text-align: center;
	width: 1em;
	background: hsl(9, 100%, 99%);
	color: hsl(0, 82%, 48%);
	line-height: 0.7;
	margin-bottom: -0.36em;
	top: 0;
	margin-top: -0.4em;
	/*transform: scaleX(-1);*/
}

.modalDialog {
	display: none;
	background-color: hsla(0, 0%, 100%, 0.92);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: opacity 0.3s;
	z-index: 5;
}

.modalDialog.is-opened {
	display: flex;
}

.modalDialog-content {
	max-width: 20em;
	padding: 2em 3em;
}

.codeBlock {
	position: relative;
}

.codeBlock-title {
	position: absolute;
	top: -0.62em;
	margin: 0 auto;
	left: 10%;
	right: 10%;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.5em;
	width: -webkit-max-content;
	background-color: hsl(9, 100%, 99%);
	color: black;
	padding: 0 0.6em;
}

.highlightCode {
	color: hsl(0, 82%, 48%);
}

.codeComment {
	color: hsl(0, 0%, 46%);
}

.apiTitle {
	font-weight: normal;
	line-height: 1.2;
	font-size: 1.2em;
	margin: 1.6em 0 0.9em 0;
	color: black;
}

.apiTitle-code {
}

.apiExplanation {
	padding-left: 2em;
}

p > code {
    /*font-weight: bold;*/
}

code > pre {
	margin: 3.5em 0;
	padding: 2em 0;
	overflow-x: auto;
	border: 1px hsl(0, 0%, 20%);
	border-style: solid none;
}

@media (min-width: 40em) {
	code > pre {
		margin-left: 10%;
		margin-right: 10%;
	}

}